<app-header></app-header>
 <div >  שם  </div>
 <input type="text" id="name" name="name" [(ngModel)]="name">
<div> כתובת </div>
 <input type="text"  id="addres" name="addres" [(ngModel)]="addres">
 <div >  מספר טלפון </div>
 <input type="text" id="phone" name="phone" [(ngModel)]="phone">
 <div >  שם משתמש </div>
<input type="text" id="userName" name="nameUser" [(ngModel)]="userNameDeliver">
<div> סיסמא </div>
<input type="password"  id="pass" name="passWord" [(ngModel)]="passwordDeliver">
<button (click)="subscribe()" >להרשמה</button>