<app-header></app-header>
<img src="../../../assets/addidas/fff.jpeg"   class="picAddve">
 <!-- <p>adidas
    <span>
 You are most beautiful when you are comfortable
    </span>
    &mdash; we have sales &mdash;
  </p> -->
  <!-- <div  class="all">
<span  >{{messag|async}}</span></div>
<div  class="ff">
 <div class="labal"> {{openMessage|async}} </div>
<div   (mouseover)="open()" (mouseleave)="leave()" class="picOpen"> <img src="../../../assets/addidas/shop.jpg"   class="pic">
  </div></div>   -->
  <!-- <img src="../../../assets/addidas/see.jpg"   class="picAdidas">
  <img src="../../../assets/addidas/ice.jpg"   class="picAdidas"> -->
