.allPage{
  display: flex;
}
  .nameP{
    text-align: right;
     margin-top: 70px;
     margin-right: 160px;
    font-size: xx-large;
    font-weight: 400;
// font-size: xx-large;
// text-align:center;
// margin-right: 80px;
// align-content: center;
// display: flex;
}
.price{
  font-size: x-large;
  text-align: right;
  margin-right: 198px;
   margin-top: 50px;
  //  margin-right: 40px;

  font-weight: 400;
}

.ditails{
  text-align: right;
 margin-top: 20px;
 margin-right: 150px;
font-size: medium;
font-weight: 400;
}
.titels{
  font-size: x-large;
  text-align: left;
  margin-right: 60px;
  margin-top: 60px;
}
.pic{
  width: 60%;
  height: 50%;
margin-top: 4px;
  // padding-left: 984px;

}
.addToBag{
  font-size: x-large;

  // margin-right: 800px;

   margin-left: 1314px;
margin-top: 30px;

}