<!-- userName:string;
passWord:string;
name:string;
addres:string;
phone:string;
} -->
<app-header></app-header>
 <div  class="login"><div >  שם משתמש </div>
<input type="text" id="userName" name="nameUser" [(ngModel)]="userName">
<div> סיסמא </div>
<input type="password"  id="pass" name="passWord" [(ngModel)]="password">
<div class="btn"><button mat-raised-button color="#drawer" class="btnBag"  (click)="chek()">
    התחברות
              <span class="cdk-visually-hidden"></span>
              </button></div>
              <div class="btn"><button mat-raised-button color="#drawer" class="btnBag"  (click)="newUser()">
                הרשמה
                          <span class="cdk-visually-hidden"></span>
                          </button></div></div>        
<p >adidas
    <span>
 You are most beautiful when you are comfortable
    </span>
    &mdash; we have sales &mdash;
  </p>
  